/* font-montserrat */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

/* font-sora */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: white;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  bottom: 0;
  background-image: url("/images/noise1.png");
  background-size: auto;
  background-repeat: repeat;
  border-radius: 30px 0 0 30px;
  pointer-events: none;
  opacity: 0.5;
  z-index: -1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::selection {
  color: white;
  background-color: black;
}

@layer utilities {
  .mix-blend-difference {
    mix-blend-mode: difference;
  }
}

.cursor-none {
  cursor: none;
}

.cursor {
  pointer-events: none;
  position: fixed;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.cursor-dot {
  width: 8px;
  height: 8px;
}

.cursor-hover {
  width: 80px;
  height: 80px;
  opacity: 0.25;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.cursor-hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

.cursor-hover::after {
  transform: translate(-50%, -50%) scale(1);
}

/* For Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Loading animation */
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-loading {
  animation: loading 1s infinite alternate;
}

/* Add this if you want to prevent scrolling during loading */
body.loaded {
  overflow: hidden !important;
  height: 100% !important;
}
